*{
  font-family: "Josefin Sans", sans-serif;
}

p{
  font-family: "Lato", sans-serif;
}

.warranty{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.trendingCard{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.latestBlogs{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}